@model FPXProcessorUI.Models.LeftMenuItem[]

<li>@Html.ActionLink(Model[0].Value, "Input", "FPX")</li>
<li>@Html.ActionLink(Model[1].Value, "Input", "FPX")</li>
<li>@Html.ActionLink(Model[2].Value, "Show", "FPX")</li>