<!DOCTYPE html>
<html>
<head>
    <title>First</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Content/t2css/t2reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="../../Content/t2css/t2layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="../../Content/t2css/t2style.css" type="text/css" media="all">
</head>
<body>
    <!-- START PAGE SOURCE -->
    <div class="body2">
        <div class="main">
            <header>
                <div class="wrapper">
                    <div class="right">
                        <h1><a href="http://localhost:3638/" id="logo">Seat Booking</a></h1>
                        <nav>
                            <ul id="top_nav">
                                <li ><a href="/App/Nova?pageIndex=2&amp;userAppName=1_Seat Booking Application_2013-11-16.xml">Book Info</a></li>
                                <li ><a href="/App/Nova?pageIndex=1&amp;userAppName=1_Seat Booking Application_2013-11-16.xml">Map</a></li>           
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="body10">
        <div align="center">
            <p align="center">
                $Component3$
            </p>
            <p>
                $Component2$
            </p>
            <p>
                $Component1$
            </p>
        </div>
    </div>
    <div class="body8">
        <div class="body9">
            <div class="main">
                <footer>
                        <div class="col_1">
                            <h3></h3> 
                        </div> 
                    <div class="col_2 pad_left1">
                        <h3></h3> 
                        <a href="#" id="footer_logo">Innovation</a> 
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <div align="center">
    </div>
</body>
</html>
