IF EXISTS (select * From master.dbo.sysdatabases where name='FlowerPot')
BEGIN
Drop Database[FlowerPot]
END
CREATE Database[FlowerPot]
GO
USE [FlowerPot]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[RoleDescription] [nvarchar](256) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([UserId], [UserName], [Email], [Password], [IsDeleted]) VALUES (1, N'admin', N'admin@volvo.com', N'HJKL:"', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Authority]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authority](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsController] [bit] NOT NULL,
	[IsAllowedNoneRoles] [bit] NOT NULL,
	[ControllerName] [nvarchar](50) NOT NULL,
	[IsAllowedAllRoles] [bit] NOT NULL,
 CONSTRAINT [PK_ControllerAction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInRoles](
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UsersInRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorityRole]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorityRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsAllowed] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[ControllerActionId] [int] NOT NULL,
 CONSTRAINT [PK_ControllerActionRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Analyzer]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analyzer](
	[AnalyzerId] [int] IDENTITY(1,1) NOT NULL,
	[AnalyzerName] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[SelectQuery] [nvarchar](max) NULL,
	[JoinQuery] [nvarchar](max) NULL,
	[WhereQuery] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Analyzert] PRIMARY KEY CLUSTERED 
(
	[AnalyzerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvitationCode]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvitationCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
	[Obsolete] [bit] NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_InvitationCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idea]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idea](
	[IdeaId] [int] IDENTITY(1,1) NOT NULL,
	[IdeaName] [nvarchar](50) NOT NULL,
	[IdeaDescription] [nvarchar](256) NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Idea_1] PRIMARY KEY CLUSTERED 
(
	[IdeaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Idea] ON
INSERT [dbo].[Idea] ([IdeaId], [IdeaName], [IdeaDescription], [CreateTime], [IsDeleted], [UserId]) VALUES (1, N'Customer', N'Customer information', CAST(0x0000A22700E1520A AS DateTime), 0, 1)
INSERT [dbo].[Idea] ([IdeaId], [IdeaName], [IdeaDescription], [CreateTime], [IsDeleted], [UserId]) VALUES (2, N'GymCard', N'Gym Card information', CAST(0x0000A22700E22DBA AS DateTime), 0, 1)
INSERT [dbo].[Idea] ([IdeaId], [IdeaName], [IdeaDescription], [CreateTime], [IsDeleted], [UserId]) VALUES (3, N'ConsumptionRecord', N'The Consumption Record of customers', CAST(0x0000A22700E22DBA AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Idea] OFF
/****** Object:  Table [dbo].[ColumnInIdea]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnInIdea](
	[ColumnId] [int] IDENTITY(1,1) NOT NULL,
	[ColumnName] [nvarchar](50) NOT NULL,
	[DataTypeId] [tinyint] NOT NULL,
	[ReferedIdeaId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IdeaId] [int] NOT NULL,
 CONSTRAINT [PK_ColumnInIdea] PRIMARY KEY CLUSTERED 
(
	[ColumnId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ColumnInIdea] ON
INSERT [dbo].[ColumnInIdea] ([ColumnId], [ColumnName], [DataTypeId], [ReferedIdeaId], [CreateTime], [IsDeleted], [IdeaId]) VALUES (1, N'CustomerId', 4, 0, CAST(0x0000A23700DE5022 AS DateTime), 0, 1)
INSERT [dbo].[ColumnInIdea] ([ColumnId], [ColumnName], [DataTypeId], [ReferedIdeaId], [CreateTime], [IsDeleted], [IdeaId]) VALUES (2, N'Name', 4, 0, CAST(0x0000A23700DE5022 AS DateTime), 0, 1)
INSERT [dbo].[ColumnInIdea] ([ColumnId], [ColumnName], [DataTypeId], [ReferedIdeaId], [CreateTime], [IsDeleted], [IdeaId]) VALUES (3, N'Gender', 4, 0, CAST(0x0000A23700DE5022 AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[ColumnInIdea] OFF
/****** Object:  Table [dbo].[U1_Row]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U1_Row](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[IdeaId] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[U1_Row] ON
INSERT [dbo].[U1_Row] ([RowId], [IdeaId], [Version], [IsDeleted]) VALUES (1, 1, 0, 0)
INSERT [dbo].[U1_Row] ([RowId], [IdeaId], [Version], [IsDeleted]) VALUES (2, 1, 0, 0)
INSERT [dbo].[U1_Row] ([RowId], [IdeaId], [Version], [IsDeleted]) VALUES (3, 1, 0, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[U1_Row] OFF
/****** Object:  Table [dbo].[U1_ShortText]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U1_ShortText](
	[ShortTextId] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](500) NULL,
	[ColumnId] [int] NOT NULL,
	[RowId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShortTextId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[U1_ShortText] ON
INSERT [dbo].[U1_ShortText] ([ShortTextId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (1, N'c0001', 1, 1, 0)
INSERT [dbo].[U1_ShortText] ([ShortTextId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (2, N'Lily', 2, 1, 0)
INSERT [dbo].[U1_ShortText] ([ShortTextId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (3, N'Female', 3, 1, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[U1_ShortText] OFF
/****** Object:  Table [dbo].[U1_Number]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U1_Number](
	[NumberId] [int] IDENTITY(1,1) NOT NULL,
	[Value] [decimal](18, 2) NULL,
	[ColumnId] [int] NOT NULL,
	[RowId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NumberId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[U1_Number] ON
INSERT [dbo].[U1_Number] ([NumberId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (1, CAST(25.00 AS Decimal(18, 2)), 4, 1, 0)
INSERT [dbo].[U1_Number] ([NumberId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (2, CAST(16.00 AS Decimal(18, 2)), 4, 2, 0)
INSERT [dbo].[U1_Number] ([NumberId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (3, CAST(30.00 AS Decimal(18, 2)), 4, 3, 0)
SET IDENTITY_INSERT [dbo].[U1_Number] OFF
/****** Object:  Table [dbo].[U1_Money]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U1_Money](
	[MoneyId] [int] IDENTITY(1,1) NOT NULL,
	[Value] [decimal](18, 2) NULL,
	[ColumnId] [int] NOT NULL,
	[RowId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MoneyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[U1_Money] ON
INSERT [dbo].[U1_Money] ([MoneyId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (1, CAST(2000.00 AS Decimal(18, 2)), 12, 10, 0)
INSERT [dbo].[U1_Money] ([MoneyId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (2, CAST(1500.00 AS Decimal(18, 2)), 13, 10, 0)
INSERT [dbo].[U1_Money] ([MoneyId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (3, CAST(1500.00 AS Decimal(18, 2)), 12, 11, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[U1_Money] OFF
/****** Object:  Table [dbo].[U1_LongText]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U1_LongText](
	[LongTextId] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ColumnId] [int] NOT NULL,
	[RowId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LongTextId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[U1_Datetime]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U1_Datetime](
	[DatetimeId] [int] IDENTITY(1,1) NOT NULL,
	[Value] [datetime] NULL,
	[ColumnId] [int] NOT NULL,
	[RowId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DatetimeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[U1_Datetime] ON
INSERT [dbo].[U1_Datetime] ([DatetimeId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (1, CAST(0x0000A15800000000 AS DateTime), 10, 10, 0)
INSERT [dbo].[U1_Datetime] ([DatetimeId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (2, CAST(0x0000A43200000000 AS DateTime), 11, 10, 0)
INSERT [dbo].[U1_Datetime] ([DatetimeId], [Value], [ColumnId], [RowId], [IsDeleted]) VALUES (3, CAST(0x0000A16400000000 AS DateTime), 10, 11, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[U1_Datetime] OFF
/****** Object:  Table [dbo].[U1_ComplexType]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[U1_ComplexType](
	[ComplexTypeId] [int] IDENTITY(1,1) NOT NULL,
	[RefRowId] [int] NULL,
	[ColumnId] [int] NOT NULL,
	[RowId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComplexTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[U1_ComplexType] ON
INSERT [dbo].[U1_ComplexType] ([ComplexTypeId], [RefRowId], [ColumnId], [RowId], [IsDeleted]) VALUES (1, 1, 14, 10, 0)
INSERT [dbo].[U1_ComplexType] ([ComplexTypeId], [RefRowId], [ColumnId], [RowId], [IsDeleted]) VALUES (2, 2, 14, 11, 0)
INSERT [dbo].[U1_ComplexType] ([ComplexTypeId], [RefRowId], [ColumnId], [RowId], [IsDeleted]) VALUES (3, 7, 14, 12, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[U1_ComplexType] OFF
/****** Object:  Table [dbo].[ColumnInReference]    Script Date: 11/05/2013 10:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnInReference](
	[ColumnId] [int] NOT NULL,
	[ReferedColumnId] [int] NOT NULL,
 CONSTRAINT [PK_ColumnInReference] PRIMARY KEY CLUSTERED 
(
	[ColumnId] ASC,
	[ReferedColumnId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ColumnInReference] ([ColumnId], [ReferedColumnId]) VALUES (14, 1)
INSERT [dbo].[ColumnInReference] ([ColumnId], [ReferedColumnId]) VALUES (14, 2)
INSERT [dbo].[ColumnInReference] ([ColumnId], [ReferedColumnId]) VALUES (17, 9)
/****** Object:  Default [DF_Role_IsDeleted]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_User_IsDeleted]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_Analyzert_IsDeleted]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[Analyzer] ADD  CONSTRAINT [DF_Analyzert_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_Idea_IsDeleted]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[Idea] ADD  CONSTRAINT [DF_Idea_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_ColumnInIdea_RIdeaType]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[ColumnInIdea] ADD  CONSTRAINT [DF_ColumnInIdea_RIdeaType]  DEFAULT ((0)) FOR [ReferedIdeaId]
GO
/****** Object:  Default [DF_ColumnInIdea_IsDeleted]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[ColumnInIdea] ADD  CONSTRAINT [DF_ColumnInIdea_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  ForeignKey [FK_UsersInRoles_Role]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersInRoles_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [FK_UsersInRoles_Role]
GO
/****** Object:  ForeignKey [FK_UsersInRoles_User]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersInRoles_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [FK_UsersInRoles_User]
GO
/****** Object:  ForeignKey [FK_ControllerActionRole_ControllerAction]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[AuthorityRole]  WITH CHECK ADD  CONSTRAINT [FK_ControllerActionRole_ControllerAction] FOREIGN KEY([ControllerActionId])
REFERENCES [dbo].[Authority] ([Id])
GO
ALTER TABLE [dbo].[AuthorityRole] CHECK CONSTRAINT [FK_ControllerActionRole_ControllerAction]
GO
/****** Object:  ForeignKey [FK_ControllerActionRole_Role]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[AuthorityRole]  WITH CHECK ADD  CONSTRAINT [FK_ControllerActionRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[AuthorityRole] CHECK CONSTRAINT [FK_ControllerActionRole_Role]
GO
/****** Object:  ForeignKey [FK_Analyzer_User]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[Analyzer]  WITH CHECK ADD  CONSTRAINT [FK_Analyzer_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Analyzer] CHECK CONSTRAINT [FK_Analyzer_User]
GO
/****** Object:  ForeignKey [FK_InvitationCode_User]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[InvitationCode]  WITH CHECK ADD  CONSTRAINT [FK_InvitationCode_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[InvitationCode] CHECK CONSTRAINT [FK_InvitationCode_User]
GO
/****** Object:  ForeignKey [FK_Idea_User]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[Idea]  WITH CHECK ADD  CONSTRAINT [FK_Idea_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Idea] CHECK CONSTRAINT [FK_Idea_User]
GO
/****** Object:  ForeignKey [FK_ColumnInIdea_Idea]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[ColumnInIdea]  WITH CHECK ADD  CONSTRAINT [FK_ColumnInIdea_Idea] FOREIGN KEY([IdeaId])
REFERENCES [dbo].[Idea] ([IdeaId])
GO
ALTER TABLE [dbo].[ColumnInIdea] CHECK CONSTRAINT [FK_ColumnInIdea_Idea]
GO
/****** Object:  ForeignKey [FK__U1_Row__IdeaId__38996AB5]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_Row]  WITH CHECK ADD FOREIGN KEY([IdeaId])
REFERENCES [dbo].[Idea] ([IdeaId])
GO
/****** Object:  ForeignKey [FK__U1_ShortT__Colum__398D8EEE]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_ShortText]  WITH CHECK ADD FOREIGN KEY([ColumnId])
REFERENCES [dbo].[ColumnInIdea] ([ColumnId])
GO
/****** Object:  ForeignKey [FK__U1_ShortT__RowId__3A81B327]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_ShortText]  WITH CHECK ADD FOREIGN KEY([RowId])
REFERENCES [dbo].[U1_Row] ([RowId])
GO
/****** Object:  ForeignKey [FK__U1_Number__Colum__3B75D760]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_Number]  WITH CHECK ADD FOREIGN KEY([ColumnId])
REFERENCES [dbo].[ColumnInIdea] ([ColumnId])
GO
/****** Object:  ForeignKey [FK__U1_Number__RowId__3C69FB99]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_Number]  WITH CHECK ADD FOREIGN KEY([RowId])
REFERENCES [dbo].[U1_Row] ([RowId])
GO
/****** Object:  ForeignKey [FK__U1_Money__Column__3D5E1FD2]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_Money]  WITH CHECK ADD FOREIGN KEY([ColumnId])
REFERENCES [dbo].[ColumnInIdea] ([ColumnId])
GO
/****** Object:  ForeignKey [FK__U1_Money__RowId__3E52440B]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_Money]  WITH CHECK ADD FOREIGN KEY([RowId])
REFERENCES [dbo].[U1_Row] ([RowId])
GO
/****** Object:  ForeignKey [FK__U1_LongTe__Colum__3F466844]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_LongText]  WITH CHECK ADD FOREIGN KEY([ColumnId])
REFERENCES [dbo].[ColumnInIdea] ([ColumnId])
GO
/****** Object:  ForeignKey [FK__U1_LongTe__RowId__403A8C7D]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_LongText]  WITH CHECK ADD FOREIGN KEY([RowId])
REFERENCES [dbo].[U1_Row] ([RowId])
GO
/****** Object:  ForeignKey [FK__U1_Dateti__Colum__412EB0B6]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_Datetime]  WITH CHECK ADD FOREIGN KEY([ColumnId])
REFERENCES [dbo].[ColumnInIdea] ([ColumnId])
GO
/****** Object:  ForeignKey [FK__U1_Dateti__RowId__4222D4EF]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_Datetime]  WITH CHECK ADD FOREIGN KEY([RowId])
REFERENCES [dbo].[U1_Row] ([RowId])
GO
/****** Object:  ForeignKey [FK__U1_Comple__Colum__4316F928]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_ComplexType]  WITH CHECK ADD FOREIGN KEY([ColumnId])
REFERENCES [dbo].[ColumnInIdea] ([ColumnId])
GO
/****** Object:  ForeignKey [FK__U1_Comple__RowId__440B1D61]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[U1_ComplexType]  WITH CHECK ADD FOREIGN KEY([RowId])
REFERENCES [dbo].[U1_Row] ([RowId])
GO
/****** Object:  ForeignKey [FK_ColumnInReference_ColumnInIdea]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[ColumnInReference]  WITH CHECK ADD  CONSTRAINT [FK_ColumnInReference_ColumnInIdea] FOREIGN KEY([ColumnId])
REFERENCES [dbo].[ColumnInIdea] ([ColumnId])
GO
ALTER TABLE [dbo].[ColumnInReference] CHECK CONSTRAINT [FK_ColumnInReference_ColumnInIdea]
GO
/****** Object:  ForeignKey [FK_ColumnInReference_ColumnInIdea1]    Script Date: 11/05/2013 10:35:38 ******/
ALTER TABLE [dbo].[ColumnInReference]  WITH CHECK ADD  CONSTRAINT [FK_ColumnInReference_ColumnInIdea1] FOREIGN KEY([ReferedColumnId])
REFERENCES [dbo].[ColumnInIdea] ([ColumnId])
GO
ALTER TABLE [dbo].[ColumnInReference] CHECK CONSTRAINT [FK_ColumnInReference_ColumnInIdea1]
GO
